body {
    background-color:#222;
    color:#fff;
}

h1 {
    color: #ff0000;
    /*color definisce il colore del testo */
    
    /* CODICI DI COLORE HEX: */

    /*

    RR|GG|BB    AC (alpha channel)
    00|00|00    00
    ..|..|..    ..
    FF|FF|FF    FF
    
    */

    /* CODICI DI COLORE RGBA */
    /* rgb(0,0,0,1) significa NERO solido
    rgb(255,255,255,00.5) significa BIANCO semitrasparente */

    font-size: 64px;
}

h2 {
    font-size: 32px;
}

p {
    color:#2266FF;
}