/* -------------------------------------------------------------------------- */
/*                                VARIABILI CSS                               */
/* -------------------------------------------------------------------------- */

:root {
    --primary-color: #ff661a;
}

* {
    box-sizing: border-box;
}



body {
    font-family: 'Fira Sans',sans-serif;
}

a {
    color: var(--primary-color);
   
}

button#menu-icon {
    
    background: transparent;

    color:white;
    border:1px solid white;
    
    width:32px;
    height: 32px;
    border-radius:50%;
    text-align: center;
    line-height: 32px;

   

}

.is-scrolled button#menu-icon {
    border:1px solid var(--primary-color);
    color: var(--primary-color);
}



.container {
    width: 90%;
    margin: auto;
}

img {
    max-width: 100%; /*rende fluide le immagini*/
    height: auto;
}

#main-header {
   

    position:fixed;
    /*per il position:fixed devo dichiarare una larghezza e delle coordinate*/
    top: 0;
    left: 0;
    /*in caso di position:fixed le coordinate fanno riferimento al viewport */
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    transition:background-color 0.25s ease-in-out;
    /*in alternativa possiamo usare "all" per intercettare tutti i mutamenti */
    z-index:1;
   

}


#main-header.is-scrolled {
    background-color: white;
}
#main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo svg {
    height: 50px;

    fill:white;
}

.is-scrolled .logo svg {
    fill: #ff661a;
}

.main-menu {
    display: none;
}

.main-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



/* -------------------------------------------------------------------------- */
/*                           REGOLE PER MENU APERTO                           */
/* -------------------------------------------------------------------------- */

#main-header.is-mobile-open .main-menu {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255,0.9);
    /*il quarto valore è l'alpha channel, cioè il livello di trasparenza*/

    width: 100%;

    height: 100%;

    /* height: calc(100% - 55px); */
    /*sottraggo l'altezza della barra menu all'altezza del menu aperto */

    display: flex;
    align-items: center;
    justify-content: center;

}

.logo, #menu-icon {
    z-index:1;
}

/* #main-header.is-mobile-open .main-menu ul li {

    padding:1rem;
    text-align: center;

} */

/*alternativa con flexbox invertendo gli assi */
#main-header.is-mobile-open .main-menu ul {

    display: flex;
    gap:1.5rem;
    /*inverto assi flexbox*/
    flex-direction: column;
    align-items: center;

}

#hero {
    background-image: url('../images/hero_vertical.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

    /*per centrare il div dentro #hero */
    display: flex;
    justify-content: center;
    align-items: center;


}

/* OFFERTE */
#offerte {
    margin-top: 3rem;
}


.offerta-wrapper {
    margin-bottom: 1rem;
}

/* GALLERY */
.gallery-wrapper {
    display: flex;
    flex-wrap: wrap; /*se finisci lo spazio, manda a capo */


    /*
    SOLUZIONE 1: per riallineare il contenitore forziamo un margine negativo che compensa il padding*/
    /* margin-left: -0.5rem;
    margin-right: -0.5rem; */

    /*SOLUZIONE 2: Usiamo GAP*/
    gap:0.5rem;


}

.gallery-image {
    width: 50%;
    /*padding:0.5rem;*/
    /*vedi gallery-wrapper */

     /* Formula: (100/colonne - gap) + (gap / colonne) */
    width: calc((50% - 0.5rem ) + (0.5rem / 2));
}

.gallery-image img { 
    /*per evitare che si formino spazi bianchi sotto l'immagine forzo display:block */
    display: block;
    width: 100%;
}

.city {
    display: none;
    /*diverso da visibility:hidden perché display:none fa proprio sparire l'elemento */
    /* visibility: hidden; */
}



/*footer */

footer#main-footer {
    background: #AAA;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;

    margin-top: 3rem;
}

/* -------------------------------------------------------------------------- */
/*                          REGOLE PER SCHERMI GRANDI                         */
/* -------------------------------------------------------------------------- */

@media screen and (min-width:992px) {

    /*menu */

    .main-menu {
        display: block;
    }

    nav.main-menu ul {
        display: flex;
        list-style-type: none;
        /*questo l'ho già specificato prima nel CSS */
        /* margin: 0;
        padding: 0; */
        column-gap: 1.25rem;
    }

    .main-menu a {
        color:white;
        text-decoration: none;
    }

    .is-scrolled .main-menu a {
        color:var(--primary-color);
    }

    #menu-icon {
        display: none;
    }

    /*hero*/

    #hero {
        background-image: url('../images/hero_horiz.jpg');
        /*le altre proprietà del background sono ereditate */
    }

    /*offerte*/

    .offerta-wrapper {
        display: flex;
        align-items:center;
        gap: 1rem; 
        /*il GAP non disturba le dimensioni dei figli perché non c'è flex-wrap:wrap */
    }

    .offerta-image {
        width: 33.33%;
    }

    .offerta-text {
        width:66.66%;
    }

    /*gallery*/

    .gallery-wrapper {
        gap:1rem;
    }

    .gallery-image {
         /* 
        Formula: (100/colonne - gap) + (gap / colonne)
        */
    
        width:calc((25% - 1rem) + ( 1rem / 4 ));

        /*per far funzionare position:absolute devo dare position:relative al genitore */

        position: relative;
    }


    .city {
        display: block; /*ripristino la proprietà di default del div.city, cioè display:block */
        position: absolute;

        /*NOTA: la proprietà position di default è position:static */
        bottom: 0;
        left: 0;

        background:#ffffff66;
        width: 100%;
        padding:0.25rem;
        text-align: center;
    }

   

}