/* -------------------------------------------------------------------------- */
/*                                  VARIABILI                                 */
/* -------------------------------------------------------------------------- */

$primary : #ff5500;
$white : #EFEFEF;
$black : #2e2e2e;
$secondary: #6e94da;

$main-font : 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-size: 1rem;
